
        body {
            margin: 0px;
            padding: 0px;
        }
        #top{
            /*overflow: hidden;*/
            font-family: Lexend Deca,sans-serif;
            color: #2e475d;
            font-size: 13px;
            position: sticky;
            background-color: white;
            width: 100%;
        }
        #topSection{
            width: 90%;
            display: flex;
            justify-content: space-between;
            margin: 10px 30px 10px 30px;
        }

        #topSection > div:nth-child(1) {
            width: 10%;
        }

        #topSection > div:nth-child(2) {
            width: 40%;
            display: flex;
            justify-content: space-between;
        }

        #Navbar {
            display: flex;
            justify-content: space-between;
            margin: 10px 30px 10px 30px;
            padding-bottom: 0px;
            font-size: 16px;
            width: 90%;
            font-size: 18px;
        }

        #Navbar div:nth-child(1) {
            width: 40%;
            display: flex;
            gap: 20px;
        }
        #Navbar img {
            width: 50%;
        }
        #Navbar button {
            background-color: rgb(255,92,53);
            color: white;
            width: 210px;
            padding: 11px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
        }
        #Navbar button:hover {
            cursor: pointer;
            background-color: rgb(245, 245, 245);
            color: #b5cce1;
        }

        #Navbar li {
            list-style: none;
        }

        #Navbar > div > a {
            font-size: 18px;
            margin-top: -2px;
        }

        #dropdown:hover {
            text-decoration: underline;
        }
        #dropdown_content {
            display: none;
            position: absolute;
            background-color: white;
            color: #2e475d;
            width: 70%;
            margin: auto;
            z-index: 1;
            font-size: 16px;
            padding: 40px;
        }


        #dropdown_content li {
            font-size: 14px;
            margin: 10px;
        }
        
        #dropdown:hover #dropdown_content {
            display: block;
            display: flex;
            float: left;
        }
        a {
            margin-top: 10px;
            text-decoration: none;
            color: #2e475d;
        }

        a:hover {
            text-decoration: underline;
        }

        .col {
            width: 22%;
            float: left;
        }

        @media all and (min-width:768px) and (max-width:1023px) {
            #top {
                width: 100%;
            }
            #topsection {
                margin: 20px;
            }
            #Navbar {
                margin: 20px;
                font-size: 18px;
            }
            #Navbar > div:nth-child(1) {
                width: 70%;
                gap: 8px;
                margin-right: 10px;
            }
            #Navbar button {
                width: 100%;
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        @media all and (min-width:320px) and (max-width:767px) {
            #top {
                width: auto;
            }
            #topSection {
                width: auto;
            }
            #topSection > div:nth-child(2) > p {
                display: none;
            }
            #Navbar {
                width: auto;
                font-size: 13px;
                display: flex;
            }
            #Navbar > div:nth-child(1) {
                width: 65%;
                gap: 8px;
                margin-right: 10px;
            }
            #Navbar button {
                display: none;
                width: 100%;
                width: 70%;
                font-size: 14px;
                margin-left: 10px;
                margin-right: 10px;
            }
            #Navbar > div > li , #dropdown > li {
                padding: 10px 20px 10px 10px;
                font-size: 13px;
                border: 1px solid black;
            } 
            #Navbar img {
                width: 35%;
            }
        }